*,
:before,
:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font: 400 14px/1.5 "Lato", "Arial", sans-serif;
}

body {
    color: var(--black);
}

body.fix {
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"],
input[type="file"] {
    display: none;
}